amqp==5.0.6
billiard==3.6.4.0
celery==5.2.1
click==8.0.1
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
Flask==2.0.1
greenlet==1.1.2
gunicorn==20.1.0
importlib-metadata==4.6.4
itsdangerous==2.0.1
Jinja2==3.0.1
kombu==5.2.2
MarkupSafe==2.0.1
prompt-toolkit==3.0.22
psycopg2==2.9.2
pytz==2021.3
PyYAML==6.0
pyyml==0.0.2
six==1.16.0
SQLAlchemy==1.4.27
typing-extensions==3.10.0.0
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.0.1
zipp==3.5.0
